body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #555;
    color: #fff;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    color: #333;
}

#about {
    background-color: #e2e2e2;
}

#services {
    background-color: #ccc;
}

#contact {
    background-color: #b2b2b2;
}
